@using BugTracker.Core.DTO.TicketDTO;
@using BugTracker.Core.Domain.Entities;
@model TicketResponseDTO
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Ticket</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this ticket?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" asp-controller="Tickets" asp-route="Delete" asp-route-ticketId="@Model.TicketId">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="fw-bold">Reporter</div>
                    @Model.Reporter
                    <span class="fw-light">@Model.Reported.ToString()</span>
                </li>
                <li class="list-group-item">
                    <div class="fw-bold">Type</div>
                    @Model.Type
                </li>
                <li class="list-group-item">
                    <div class="fw-bold">Severity</div>
                    @Model.Severity
                </li>
                <li class="list-group-item">
                    <div class="fw-bold">Status</div>
                    @Model.Status
                </li>
                <li class="list-group-item">
                    <div class="fw-bold">Assigned Developers</div>
                    @if (Model.AssignedDevs is not null)
                    {
                        <div class="list-group list-group-flush">
                            @foreach (var developer in Model.AssignedDevs)
                            {
                                <a href="#" class="list-group-item list-group-item-action">@developer.Name</a>
                            }
                        </div>
                    }
                    else
                    {
                        @*NOTE: Show link to assign developers if project manager*@
                        <p class="fst-italic">No assigned developers yet</p>
                    }
                </li>
            </ul>
            <div class="card-body">
                <a class="btn btn-primary card-link" asp-controller="Tickets" asp-action="Edit" asp-route-ticketId="@Model.TicketId" role="button">Edit</a>
                <a class="btn btn-danger card-link" data-bs-toggle="modal" data-bs-target="#deleteModal" role="button">Delete</a>
            </div>
        </div>

    </div>
    <div class="col">
        <h1>Comments</h1>
        @if (Model.Comments is not null)
        {
            <ol class="list-group">
                @foreach (Comment comment in Model.Comments)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">@comment.Commenter<span class="fw-light">@comment.Date.ToString()</span></div>
                            @comment.CommentText
                        </div>
                    </li>
                }
            </ol>
        }

        <form asp-controller="Tickets" asp-action="AddComment">
            <div class="mb-3">
                <textarea name="commentText" class="form-control" rows="3" placeholder="Write a Comment..."></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </div>
            <input type="hidden" name="username" value=@User.Identity?.Name />
            <input type="hidden" name="ticketId" value=@Model.TicketId />
        </form>

    </div>
</div>